---
import Base from "@/layouts/Base.astro";
import ImageDescription from "../components/ImageDescription.astro";


export const prerender = false;

// Mock : Astro.url.origin + '/mock/apod.json'
const API_KEY = import.meta.env.NASA_API_KEY;
// API : `https://api.nasa.gov/planetary/apod?api_key=${API_KEY}`
const url = import.meta.env.DEV ? `${Astro.url.origin}/mock/apod.json` : `https://api.nasa.gov/planetary/apod?api_key=${API_KEY}`
const response = await fetch(url);

interface NasaAPOD {
  date: Date;
  explanation: string;
  hdurl: URL;
  media_type: "image";
  service_version: "v1";
  title: string;
  url: URL;
  source: "https://apod.nasa.gov/apod/";
}

const data = (await response.json()) as NasaAPOD;
---

<Base title={data.title}>
  <ImageDescription image={data.hdurl.toString()}>
    <h2>{data.title}</h2>
    <p>
      {data.explanation}
    </p>
    <a href={data.source}>Source</a>
  </ImageDescription>
</Base>
